### exclude large data files 
/CHAZvectorized/pre/
/CHAZvectorized/output/
/CHAZvectorized/PI/
/CHAZvectorized/era5data/
/CHAZvectorized/input/
/CHAZvectorized/scratch.ipynb
/CHAZvectorized/scratch_*.ipynb
